$breakpoint_lg: 768px;
$color: olive;

body {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	background-image: url("../../../assets/leaves_V.jpg");
	background-color: #94927d;
	background-blend-mode: multiply;
	background-position: top;
	background-size: cover;
	background-size: 768px;

	header {
		max-width: $breakpoint_lg;
		background-color: $color;
	}

	main {
		max-width: $breakpoint_lg;
		#barcelona {
			width: 100%;
			height: $breakpoint_lg / 2; // 50%
		}
	}
}

// custom CSS
.text-olivedrab {
	color: lighten($color, 5%);
}

.text-cadetblue {
	color: cadetblue;
}

.border-olive {
	border-color: $color !important;
}

.bg-olive {
	background-color: darken($color, 18%);
}
