$breakpoint_lg: 768px;
$color1: olive;
$color2: cadetblue;
$color3: gainsboro;

body {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	background-image: url("../../../assets/leaves_V.jpg");
	background-color: darken($color3, 45%);
	background-blend-mode: multiply;
	background-position: top;
	background-size: cover;
	background-size: 768px;

	header {
		max-width: $breakpoint_lg;
		background-color: $color1;
	}

	main {
		max-width: $breakpoint_lg;
		#barcelona {
			width: 100%;
			height: $breakpoint_lg / 2; // 50%
		}
	}
}

// custom CSS
.text-olivedrab {
	color: lighten($color1, 5%);
}

.text-cadetblue {
	color: $color2;
}

.border-olive {
	border-color: $color1 !important;
}

.bg-olive {
	background-color: darken($color1, 18%);
}
