<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Leaflet - coordenades</title>
		<!-- favicon -->
		<link rel="icon" type="image/png" href="../../../assets/leaflet_icon.ico" />
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<!-- Leaflet CCS -->
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			crossorigin=""
		/>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="./main.css" />
	</head>

	<body>
		<header class="border border-olive text-light shadow-lg mx-auto mt-0 px-4 py-4">
			<hgroup>
				<h1 class="font-weight-norma m-0">Leaflet</h1>
				<h2 class="h3 font-weight-lighter">GPS coordinates</h2>
				<h3 class="h4 font-weight-lighter font-italic mt-3">Add a marker</h3>
			</hgroup>
		</header>

		<main class="mx-auto p-0">
			<!-- GPS outlet -->
			<section class="bg-olive border border-olive shadow-lg my-2 p-3">
				<p id="outlet-address" class="h5 font-weight-lighter">
					<b class="text-olivedrab">Address:</b>
					<span class="text-cadetblue"></span>
				</p>
				<p id="outlet-gps" class="h5 font-weight-lighter mb-0">
					<b class="text-olivedrab">GPS:</b>
					<span class="text-cadetblue"></span>
				</p>
			</section>

			<!-- Leaflet Map -->
			<section id="barcelona" class="bg-light border border-olive p-3"></section>

			<!-- Map center -->
			<p id="map-center" class="bg-light text-dark font-weight-lighter border border-olive rounded-bottom p-1">
				<b>map center:</b>
				<span></span>
			</p>
		</main>

		<!-- Laflet JS -->
		<script
			src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""
		></script>
		<!-- Custom JS -->
		<script src="../models/Point.js"></script>
		<script src="../controllers/main1.js"></script>
		<script src="../controllers/main2.js"></script>
	</body>
</html>
